# Project exclude paths
/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/src/main/resources/chromedriver.exe
/src/main/resources/screenshot.png
